{% extends "auctions/layout.html" %}

{% block body %}
<h3>{{ listing.title }}</h3>
<div class="listing">
    {% if listing.image %}
        <div class="image">
            <img src="{{ listing.image }}">
        </div>
    {% endif %}
    <b>Current Bid: </b>${{ listing.start_bid }}
    <br><br>
    {{ listing.description }}
    <br>
    {% if user.is_authenticated %}
        {% if close %}
            <form action="{% url 'mylistings' %}" method="POST">
        {% else %}        
            <form action="{% url 'watchlist' %}" method="POST">
        {% endif %}
        {% csrf_token %}
        <input type="hidden" value="{{ listing.id }}" name="listing_id">
        <input type="hidden" value="{{ remove }}" name="remove">
        <input type="submit" value="{{ message }}">
        </form>
        {% endif %}
</div>
{% endblock %}