{% extends "auctions/layout.html" %}

{% block title %}{{ category }}{% endblock %}

{% block body %}
{% if empty %}
<div class="center">
    <br><br>{{ empty|safe }}
</div>
{% endif %}
<ul class="no-bullets">
{% for listing in items %}
    <li>
        <div class="listing grid">
            <div class="grid-itemimg">
            {% if listing.image %}
                    <a href="{% url 'listing' listing_id=listing.id %}">
                        <img src="{{ listing.image }}">
                    </a>
            {% endif %}
            </div>
            <div class="grid-itemtext">
                <h3><a href="{% url 'listing' listing_id=listing.id %}">
                    {{ listing.title }}
                </a></h3><br>
                    <b>Current Bid: </b>${{ listing.start_bid }}<br><br>
                    {{ listing.description }}<br>
                    <div class="footer">
                        Listed on {{ listing.date }}
                    </div>                    
            </div>                  
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}