{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <script>

            document.addEventListener('DOMContentLoaded', () => {
                const bid = document.querySelector('#id_start_bid')

                // Adjust starting bid input to display 2 decimal places
                // and to round to nearest 0.5
                if (bid) {
                    bid.onchange = () => {
                        if (bid.value % 0.5 > 0) {
                            const roundBid = Math.round(bid.value*2)/2
                            bid.value = roundBid;
                        }
                        if (bid.value.length <= 2) {
                            bid.value = bid.value + '.00'
                        } else if (bid.value.length >= 3) {
                            bid.value = bid.value + '0'
                        }                        
                    }
                }
            });

        </script>
    </head>
    <body>
        <h1>Auctions</h1>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>            
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new' %}">Create Listing</a>
                </li>     
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mylistings' %}">My Listings</a>
                </li>                 
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>                                        
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
                </div>
            {% endfor %}                
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>
