{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'new' %}" method="post">
    {% csrf_token %}
    {{ form.title }}
    {{ form.description }}
    {{ form.start_bid.label_tag}} {{ form.start_bid }}

    <h4>Optional:</h4>
    {{form.image.label_tag}} {{ form.image }}
    <select name="category">
        <option selected="true" disabled="disabled">Category</option>
    {% for category in categories %}
        <option value='{{ category }}'>{{ category }}</option>
    {% endfor %}
    </select>
    <input type="submit" value="Create Listing">
</form>
{% endblock %}